<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Planning Poker"
            id="it.uniba.di.cdg.econference.planningpoker">
      </category>
      <view
            category="it.uniba.di.cdg.econference.planningpoker"
            class="it.uniba.di.cdg.econference.planningpoker.workbench.BacklogView"
            icon="icons/backlog/user-story.gif"
            id="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
            name="Backlog"
            restorable="true">
      </view>
      <view
            category="it.uniba.di.cdg.econference.planningpoker"
            class="it.uniba.di.cdg.econference.planningpoker.workbench.DeckView"
            icon="icons/deck/deck16x16.png"
            id="it.uniba.di.cdg.econference.planningpoker.DeckView"
            name="Deck"
            restorable="true">
      </view>
      <view
            category="it.uniba.di.cdg.econference.planningpoker"
            class="it.uniba.di.cdg.econference.planningpoker.workbench.EstimatesView"
            icon="icons/hand_money_16.gif"
            id="it.uniba.di.cdg.econference.planningpoker.EstimatesView"
            name="Estimates"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="it.uniba.di.cdg.econference.planningpoker.workbenchActionSet"
            label="Views Action Set"
            visible="true">
         <menu
               id="it.uniba.di.cdg.econference.planningpoker.workbenchMenu"
               label="&amp;Planning Poker"
               path="addition">
            <groupMarker
                  name="it.uniba.di.cdg.econference.planningpoker.content">
            </groupMarker>
            <separator
                  name="it.uniba.di.cdg.econference.planningpoker.additions">
            </separator>
         </menu>
      </actionSet>
      <actionSet
            description="Planning Poker actions"
            id="it.uniba.di.cdg.econference.planningpoker.actionSet"
            label="Planning Poker actions"
            visible="true">
         <menu
               id="it.uniba.di.cdg.econference.planningpoker.menu"
               label="&amp;PlanningPoker"
               path="file/additions">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="it.uniba.di.cdg.econference.planningpoker.actions.LoadPPFromFileActionDelegate"
               id="it.uniba.di.cdg.econference.planningpoker.loadPPFromFileAction"
               label="Load configuration ..."
               menubarPath="file/it.uniba.di.cdg.econference.planningpoker.menu/additions"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.uniba.di.cdg.econference.planningpoker.workbench.PlanningPokerPerspective"
            fixed="true"
            icon="icons/poker.gif"
            id="it.uniba.di.cdg.econference.planningpoker.PPPerspective"
            name="Planning Poker">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="palnningpoker.participantContribution"
            objectClass="it.uniba.di.cdg.xcore.multichat.model.IParticipant">
         <action
               class="it.uniba.di.cdg.econference.planningpoker.actions.MakeVoterAction"
               enablesFor="1"
               icon="icons/grantVoter16x16.png"
               id="it.uniba.di.cdg.econference.planningpoker.action.popup.makeVoterAction"
               label="Grant the user voter privilege"
               tooltip="Permit to select a card from deck">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR">
                  </objectState>
                  <not>
                     <objectState
                           name="specialRole"
                           value="VOTER">
                     </objectState>
                  </not>
                  <and>
                     <objectState
                           name="service"
                           value="planning-poker">
                     </objectState>
                  </and>
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.econference.planningpoker.actions.UnMakeVoterAction"
               enablesFor="1"
               icon="icons/revokeVoter16x16.png"
               id="it.uniba.di.cdg.econference.planningpoker.action.popup.unmakeVoterAction"
               label="Revoke the voter privilege"
               tooltip="Make this user uncapable of selecting a card from deck">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR">
                  </objectState>
                  <objectState
                        name="specialRole"
                        value="VOTER">
                  </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="it.uniba.di.cdg.collaborativeworkbench.boot.collaborativeWorkbench"
            name="eConference3P">
         <property
               name="appName"
               value="eConference3P">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="it.uniba.di.cdg.econference.planningpoker.workbench.PlanningPokerPerspective">
         <view
               closeable="false"
               id="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="top"
               relative="it.uniba.di.cdg.xcore.multichat.ui.views.chatRoomView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.whiteBoardView"
               minimized="false"
               moveable="true"
               ratio="0.4"
               relationship="right"
               relative="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.multichat.ui.views.multiChatTalkView"
               minimized="false"
               moveable="true"
               ratio=".5"
               relationship="right"
               relative="it.uniba.di.cdg.xcore.multichat.ui.views.chatRoomView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.econference.planningpoker.DeckView"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.econference.planningpoker.EstimatesView"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="it.uniba.di.cdg.econference.planningpoker.DeckView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
