<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Planning Poker"
            id="it.uniba.di.cdg.econference.planningpoker">
      </category>
      <view
            category="it.uniba.di.cdg.econference.planningpoker"
            class="it.uniba.di.cdg.econference.planningpoker.ui.workbench.BacklogView"
            icon="icons/backlog/backlog16x16.png"
            id="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
            name="Backlog"
            restorable="true">
      </view>
      <view
            category="it.uniba.di.cdg.econference.planningpoker"
            class="it.uniba.di.cdg.econference.planningpoker.ui.workbench.DeckView"
            icon="icons/deck/deck16x16.png"
            id="it.uniba.di.cdg.econference.planningpoker.DeckView"
            name="Deck"
            restorable="true">
      </view>
      <view
            category="it.uniba.di.cdg.econference.planningpoker"
            class="it.uniba.di.cdg.econference.planningpoker.ui.workbench.EstimatesView"
            icon="icons/hand_money_16.gif"
            id="it.uniba.di.cdg.econference.planningpoker.EstimatesView"
            name="Estimates"
            restorable="true">
      </view>
      <view
            category="it.uniba.di.cdg.econference.planningpoker"
            class="it.uniba.di.cdg.econference.planningpoker.ui.workbench.PPWhiteBoardView"
            icon="icons/notes16x16.png"
            id="it.uniba.di.cdg.econference.planningpoker.views.PPWhiteBoardView"
            name="User Story Notes"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="it.uniba.di.cdg.econference.planningpoker.workbenchActionSet"
            label="Views Action Set"
            visible="true">
         <menu
               id="it.uniba.di.cdg.econference.planningpoker.workbenchMenu"
               label="&amp;Planning Poker"
               path="addition">
            <groupMarker
                  name="it.uniba.di.cdg.econference.planningpoker.content">
            </groupMarker>
            <separator
                  name="it.uniba.di.cdg.econference.planningpoker.additions">
            </separator>
         </menu>
      </actionSet>
      <actionSet
            description="Planning Poker actions"
            id="it.uniba.di.cdg.econference.planningpoker.actionSet"
            label="Planning Poker actions"
            visible="true">
         <menu
               icon="icons/poker.gif"
               id="it.uniba.di.cdg.econference.planningpoker.menu"
               label="&amp;PlanningPoker"
               path="file/additions">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="it.uniba.di.cdg.econference.planningpoker.actions.LoadPPFromFileActionDelegate"
               definitionId="it.uniba.di.cdg.econference.planningpoker.actions.load"
               icon="icons/action_fileopen.png"
               id="it.uniba.di.cdg.econference.planningpoker.loadPPFromFileAction"
               label="Load Planning Poker configuration ..."
               menubarPath="file/it.uniba.di.cdg.econference.planningpoker.menu/additions"
               style="push"
               toolbarPath="new_load_group">
         </action>
         <action
               class="it.uniba.di.cdg.econference.planningpoker.actions.PlanningPokerWizardAction"
               definitionId="it.uniba.di.cdg.econference.planningpoker.actions.wizard"
               icon="icons/action_wizard.png"
               id="it.uniba.di.cdg.econference.planningpoker.wizard"
               label="Wizard Planning Poker configuration ..."
               menubarPath="file/it.uniba.di.cdg.econference.planningpoker.menu/additions"
               style="push"
               toolbarPath="new_load_group">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.uniba.di.cdg.econference.planningpoker.ui.workbench.PlanningPokerPerspective"
            fixed="false"
            icon="icons/poker.gif"
            id="it.uniba.di.cdg.econference.planningpoker.PPPerspective"
            name="Planning Poker">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="palnningpoker.participantContribution"
            objectClass="it.uniba.di.cdg.xcore.multichat.model.IParticipant">
         <action
               class="it.uniba.di.cdg.econference.planningpoker.actions.MakeVoterAction"
               enablesFor="1"
               icon="icons/grantVoter16x16.png"
               id="it.uniba.di.cdg.econference.planningpoker.action.popup.makeVoterAction"
               label="Grant the user voter privilege"
               tooltip="Permit to select a card from deck">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR">
                  </objectState>
                  <not>
                     <objectState
                           name="specialRole"
                           value="VOTER">
                     </objectState>
                  </not>
                  <!--and>
                     <objectState
                           name="service"
                           value="planning-poker">
                     </objectState>
                  </and-->
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.econference.planningpoker.actions.UnMakeVoterAction"
               enablesFor="1"
               icon="icons/revokeVoter16x16.png"
               id="it.uniba.di.cdg.econference.planningpoker.action.popup.unmakeVoterAction"
               label="Revoke the voter privilege"
               tooltip="Make this user uncapable of selecting a card from deck">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR">
                  </objectState>
                  <objectState
                        name="specialRole"
                        value="VOTER">
                  </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
       <product
            application="it.uniba.di.cdg.collaborativeworkbench.boot.collaborativeWorkbench"
            name="eConference3P">
         <property
               name="appName"
               value="eConference3P">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/it.uniba.di.cdg.collaborativeworkbench.boot/about_logo.gif">
         </property>
         <property
               name="aboutText"
               value="eConference 4 with Planning Poker Plugin&#x0A;&#x0A;eConference has been developed by the Collaborative Development Group,&#x0A;Dipartimento di Informatica, University of Bari and it is distributed under the &#x0A;terms of the MIT license. &#x0A;More details on the project homepage at http://cdg.di.uniba.it/projects/econference/ .">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/it.uniba.di.cdg.collaborativeworkbench.boot/cw_16x16.gif,platform:/plugin/it.uniba.di.cdg.collaborativeworkbench.boot/cw_32x32.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="it.uniba.di.cdg.econference.planningpoker.workbench.PlanningPokerPerspective">
         <view
               closeable="false"
               id="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
               moveable="true"
               ratio="0.5"
               relationship="top"
               relative="it.uniba.di.cdg.xcore.multichat.ui.views.chatRoomView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.whiteBoardView"
               moveable="true"
               ratio="0.4"
               relationship="right"
               relative="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.multichat.ui.views.multiChatTalkView"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="it.uniba.di.cdg.xcore.multichat.ui.views.chatRoomView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.econference.planningpoker.DeckView"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="it.uniba.di.cdg.econference.planningpoker.views.StoriesListView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="it.uniba.di.cdg.econference.planningpoker.EstimatesView"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="it.uniba.di.cdg.econference.planningpoker.DeckView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="it.uniba.di.cdg.jabber.packets">
      <packetExtension
            class="it.uniba.di.cdg.econference.planningpoker.jabber.DefaultBacklogPacket">
      </packetExtension>
      <packetExtension
            class="it.uniba.di.cdg.econference.planningpoker.jabber.EstimateSessionStatusPacket">
      </packetExtension>
      <packetExtension
            class="it.uniba.di.cdg.econference.planningpoker.jabber.EstimateAssignedPacket">
      </packetExtension>
      <packetExtension
            class="it.uniba.di.cdg.econference.planningpoker.jabber.DefaultDeckPacket">
      </packetExtension>
      <packetExtension
            class="it.uniba.di.cdg.econference.planningpoker.jabber.DefaultCardSelectionPacket">
      </packetExtension>
   </extension>
   <extension
         point="it.uniba.di.cdg.jabber.services">
      <service
            class="it.uniba.di.cdg.econference.planningpoker.PlanningPokerService"
            name="planning-poker">
      </service>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="it.uniba.di.cdg.econference.planningpoker.actions.load"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="it.uniba.di.cdg.econference.planningpoker.actions.LoadPPFromFileActionDelegate"
            id="it.uniba.di.cdg.econference.planningpoker.actions.load"
            name="load">
      </command>
      <command
            defaultHandler="it.uniba.di.cdg.econference.planningpoker.actions.PlanningPokerWizardAction"
            id="it.uniba.di.cdg.econference.planningpoker.actions.wizard"
            name="wizard_planningpoker">
      </command>
   </extension>
   <extension
         point="it.uniba.di.cdg.xcore.econference.eventloader">
      <loader
            context="it.uniba.di.cdg.econference.planningpoker.PlanningPokerContext"
            contextLoader="it.uniba.di.cdg.econference.planningpoker.model.PPContextLoader"
            helper="it.uniba.di.cdg.econference.planningpoker.PlanningPokerHelper"
            invitationIcon="icons/events/invitation_event.png"
            organizationIcon="icons/events/organization_event.png"
            pluginID="it.uniba.di.cdg.econference.planningpoker"
            service="planningpoker">
      </loader>
   </extension>

</plugin>
